<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement or ContentDelivery">
    <pipelines>
      <group groupName="layoutService">
        <pipelines>
          <renderJsonRendering>
            <processor
              type="SmartSitecore.Feature.ColumnSplitter.Pipelines.ColumnSplitterRenderingParametersProcessor, SmartSitecore.Feature.ColumnSplitter"
              resolve="true" patch:after="processor[@type='Sitecore.LayoutService.Presentation.Pipelines.RenderJsonRendering.Initialize, Sitecore.LayoutService']" />

            <processor
              type="SmartSitecore.Feature.ColumnSplitter.Pipelines.ColumnSplitterRenderPlaceholders, SmartSitecore.Feature.ColumnSplitter"
              resolve="true" patch:instead="processor[@type='Sitecore.LayoutService.Presentation.Pipelines.RenderJsonRendering.RenderPlaceholders, Sitecore.LayoutService']" />
          </renderJsonRendering>
        </pipelines>
      </group>
    </pipelines>

    <layoutService>
      <configurations>
        <!-- use name="jss" for different configuration -->
        <config name="sxa-jss">
          <rendering>
            <placeholdersResolver type="SmartSitecore.Feature.ColumnSplitter.Pipelines.ColumnSplitterPlaceholdersResolver, SmartSitecore.Feature.ColumnSplitter"
                                  patch:instead="placeholdersResolver[@type='Sitecore.LayoutService.Placeholders.DynamicPlaceholdersResolver, Sitecore.LayoutService']" />
          </rendering>
        </config>
      </configurations>
    </layoutService>
  </sitecore>
</configuration>